
version: '3.8'

networks:
  airflow-net:
    external: true

services:
  airflow-init:
    image: apache/airflow:2.9.2
    container_name: airflow-init
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@host.docker.internal:5432/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW_UID: 50000
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./requirements.txt:/opt/airflow/requirements.txt
    networks:
      - airflow-net
    user: "0"
    command: >
      bash -c "
      echo 'Installing Python packages...' &&
      pip install --no-cache-dir -r /opt/airflow/requirements.txt || true &&
      echo 'Initializing Airflow DB...' &&
      airflow db init
      "

  airflow-webserver:
    image: apache/airflow:2.9.2
    container_name: airflow-webserver
    depends_on:
      - airflow-init
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@host.docker.internal:5432/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW_UID: 50000
    ports:
      - "8090:8080"
    networks:
      - airflow-net
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./requirements.txt:/opt/airflow/requirements.txt
    command: >
      bash -c "
      echo 'Installing Python packages...' &&
      pip install --no-cache-dir -r /opt/airflow/requirements.txt || true &&
      echo 'Starting Airflow Webserver...' &&
      airflow webserver
      "

  airflow-scheduler:
    image: apache/airflow:2.9.2
    container_name: airflow-scheduler
    depends_on:
      - airflow-init
    environment:
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@host.docker.internal:5432/airflow
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW_UID: 50000
    networks:
      - airflow-net
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./requirements.txt:/opt/airflow/requirements.txt
      - ./artifacts:/opt/airflow/artifacts
    command: >
      bash -c "
      echo 'Installing Python packages...' &&
      pip install --no-cache-dir -r /opt/airflow/requirements.txt || true &&
      echo 'Starting Airflow Scheduler...' &&
      airflow scheduler
      "
