
#Airflow
Airflow/**/logs/
Airflow/**/__pycache__/
Airflow/**/artifacts/*.joblib


#Databases
Database/mongo-data/
Database/**/mongo-data/


#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/


#Node / Frontend
Frontend/**/node_modules/
Frontend/**/.env


#OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
