
#Airflow
Airflow/**/airflow/logs/
Airflow/**/logs/
Airflow/**/__pycache__/


#Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/


#ML / Models
*.pkl
*.joblib
*.h5
*.onnx


#OS
.DS_Store
Thumbs.db


#IDE
.vscode/
.idea/



#Databases
Database/mongo-data/
Database/**/mongo-data/
Database/**/data/
